.product-showcase {
  &__image-container {
    height: 70vw;
  }
}

.control-arrow {
  display: block;
  opacity: 1 !important;
  background-color: transparent !important;

  &::before {
    border: none !important;
    background-color: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
  }
}

.control-prev {
  &::before {
    content: url(../../images/icon-previous.svg) !important;
    padding-right: 2px;
    padding-bottom: 2px;
  }
}

.control-next {
  &::before {
    content: url(../../images/icon-next.svg) !important;
  }
}
