@use '../../styles/colors';

.product-showcase-desktop {
  display: none;
  flex: 1;

  @media (min-width: 700px) {
    display: block;
  }
}

.carousel-slider {
  @media (min-width: 700px) {
    border-radius: 30px;
  }
}

.thumb {
  border-radius: 20px;
  cursor: pointer;
  border: none !important;
  padding: 0 !important;

  &:hover {
    opacity: 0.5;
    transform: none !important;
  }

  &.selected {
    border: 3px solid colors.$color-orange !important;
    opacity: 0.5;
  }
}
