@use '../../styles/colors';

.quantity-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: colors.$color-light-grayish-blue;
  border-radius: 10px;

  &__amount {
    font-weight: 700;
  }
}
