$color-orange: hsl(26, 100%, 55%);
$color-pale-orange: hsl(25, 100%, 94%);
$color-very-dark-blue: hsl(219, 9%, 45%);
$color-dark-grayish-blue: hsl(219, 9%, 45%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-light-grayish-blue: hsl(223, 64%, 98%);
$color-color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
