@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  font-family: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.no-scroll {
  position: fixed;

  @media (min-width: 700px) {
    position: inherit;
  }
}
