@use '../../styles/colors';

.header {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 700px) {
    border-bottom: 1px solid colors.$color-light-grayish-blue;
  }

  &__button-hamburger {
    transform: translateY(3px);

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__nav {
    display: none;

    @media (min-width: 700px) {
      display: block;
    }
  }

  &__nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__nav-link {
    color: colors.$color-dark-grayish-blue;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (min-width: 700px) {
      gap: 3rem;
    }
  }

  &__avatar {
    max-width: 25px;

    @media (min-width: 700px) {
      max-width: 45px;
    }
  }
}
